/* Home.php */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #009ACD;
    color: #ffffff;
}
header, footer{
    background-color: #00688B;
    padding: 22px;
}
footer{
    padding: 48px;
}
main{
    background-color: #009ACD;
}
.cabecalho{
    background-color: #27408B;
    padding: 10px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
}
img{
    max-width: 90px;
}
img , h1{
    display: inline-block;
}
.cabecalho2{
    background-color: #3A5FCD;
    padding-bottom: 20px; /*Mudar aqui com o h2*/
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid #27408B;
}
.botao1 , .botao2{
    margin: 20px;
    text-align: center;
}
h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    text-align: center;
    background-color: #27408B;
}
.button1{
    background-color: #6959CD;
}
.button2{
    background-color: #9370DB;
}
.button3{
    background-color: #912CEE;
}
.button1 , .button2 , .button3{
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px;
    cursor: pointer;
}
.botoes{
    text-align: center;
}
.click{
    display: inline-block;
}
.entrar{
    text-align: right;
    margin-right: 30px;
    margin-top: 57px;
}
button{
    color: #ffffff;
    background-color: #104E8B;
}


/* erro_login.php */
.voltar{
    background-color: #7D26CD;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px;
    cursor: pointer;
}
.cabecalho_erro{
    background-color: #3A5FCD;
    padding-bottom: 84px; /*Mudar aqui com o h2*/
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid #27408B;
    text-align: center;
}
.erro{
    margin-top: 80px;
}



/* Sobre */
.sobre{
    font-size: 18px;
    padding: 20px;
    padding-top: 32px;
}
.jogos{
    font-size: 18px;
    padding: 20px;
    padding-top: 32px;
}
.jogos img{
    max-width:300px;
    max-height:250px;
}
.info{
    background-color: #3A5FCD;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid #27408B;
}
